<app-form-bar menuText="Edit Category Area"></app-form-bar>

<form [formGroup]="editCategoryAreaForm" novalidate (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Id</label>
    <input disabled="disabled" [value]="areaId" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Name*</label>
    <input type="text" class="form-control" formControlName="name">
  </div>

  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" formControlName="description" rows="4" placeholder="A short description about category area">
    </textarea>
  </div>

  <div *ngIf="errorMessage != undefined && errorMessage != ''" class="alert alert-danger">
    {{errorMessage}}
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
